html {
  padding: 0;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.hero, .dashboard{
    display: flex 1fr;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(32, 3, 52), rgb(106, 19, 146));
    background-size: cover;
    height: 100vh;
    background-position: top left;
}

.FLCut,.heading{
    padding-top: 75px;
    color: rgb(241, 136, 26);
    font-family: "Lilita One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    text-align: center;
}

.wrap {
    margin: auto;
    display: flex 1fr;
    align-items:center;
    justify-content:center;
    margin-top: 35px;
    height: fit-content;
    max-width: 400px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px auto;
}

.longurl,.shorturl {
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    border:1px solid rgb(255,255,255);
    background: none;
    color:white;
    text-align: center;
    field-sizing: content;
    width: 345px;
    min-height: 20px;
    height: fit-content;
    padding : 8px;
    overflow-wrap: break-word;
}

.longurl::placeholder,.shorturl::placeholder{
    color:white;
}

.longurl:focus::placeholder,.shorturl:focus::placeholder{
    color:transparent;
}

.shortenbutton{
    display: block;
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    font-size: 16px;
    margin-top :20px;
    padding: 10px 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    border:1px solid black;
    background-color: white;
    margin-bottom: 0;
}

.shortenbutton:hover{
    cursor: pointer;
    opacity: 60%;
    transition: 5ms;
}

.copy {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: "Comic Neue", cursive;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
}
